/.vscode
/first1.c
/first1.exe
/fourth4.c
/fourth4.exe
/PS1first.c
/PS1first.exe
/PS1firsttt.c
/PS1firsttt.exe
/PS1fourth.c
/PS1fourth.exe
/PS1second.c
/PS1second.exe
/PS1third.c
/PS1third.exe
/PS2.c
/PS2.exe
/PS3.c
/PS3.exe
/second2.c
/second2.exe
/third3.c
/third3.exe